*{
 
  margin: 0;padding: 0;
   color: #fff;
}
.nav{

 
}
.darck{
   background-color: #000000;
    display: flex;
  justify-content: space-around;
  /* background-color: #222; */
  height: 50px;
  align-items: center;
  
}
.light{
   background-color: #3d3d3d;
    display: flex;
  justify-content: space-around;
  /* background-color: #222; */
  height: 50px;
  align-items: center;
   
}

h4{
  font: bold;
   background-color: transparent;
}