*{
  padding: 0;
  margin: 0;
  background-color: black;
  color: #fff;
}

div{
  height: 100vh;
  width: 100%;
  background-color: #111;
  color: white;

}
.nav{
height: 100px;
  color: rebeccapurple;
}

.hero{
  height: 500px;
  color: #fff;
 
  font-size: 30px;
  
}

.footer{
  height: 100px;
  font-size: 30px;
}
