* {
  margin: 0;
  padding: 0;
  background-color: #222;
}
.perant{
  display: flex;
  flex-wrap: wrap;
}

.card {  

  height: 250px;
  width: 200px;
  padding: 10px 0px;
  margin: 20px 10px;
  border: 2px solid #111;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}